body {
    box-sizing: border-box;
    background-color: rgb(234, 237, 240);
    font-family: 'Press Start 2P', cursive;
}


html {
    font-size: 62.5%;
}

:root {
    --color-normal-green: #00A74A;
    --color-normal-red: #9F0F17;
    --color-normal-yellow: #CCA707;
    --color-normal-blue: #094A8F;


    --color-light-green: #13ff7c;
    --color-light-red: #ff4c4c;
    --color-light-yellow: #fed93f;
    --color-light-blue: #1c8cff;

    --color-border: #333333;

    --color-background--painel: #ECE7EE;



}



.container {
   
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 10rem;


}


.game {
    display: grid;
    grid-template-areas: 'verde vermelho'
        'amarelo azul';
    grid-gap: 3.5rem;
    background-color: var(--color-border);
    border: 1rem solid var(--color-border);
    border-radius: 100%;
    width: 48rem;
    height: 48rem;
    padding: 1.5rem;


}

.blue {
    background-color: var(--color-normal-blue);
    border-top-left-radius: 25rem;
}


.yellow {
    background-color: var(--color-normal-yellow);
    border-top-right-radius: 25rem;
}

.red {
    background-color: var(--color-normal-red);
    border-bottom-left-radius: 25rem;
}

.green {
    background-color: var(--color-normal-green);
    border-bottom-right-radius: 25rem;
}


.blue.game__pad--active {

    background-color: var(--color-light-blue);
}

.yellow.game__pad--active {
    background-color: var(--color-light-yellow);
}

.red.game__pad--active {
    background-color: var(--color-light-red);
}

.green.game__pad--active {

    background-color: var(--color-light-green);

}

.starting {
    position: absolute;
    background-color: var(--color-background--painel);
    border-radius: 100%;
    width: 20rem;
    height: 20rem;
    border: 1.5rem solid var(--color-border);
}


.start__name{
    font-size: 2.2rem;
    margin: 0.8rem auto;
    padding: 1.5rem;
    text-transform: uppercase;
}


.starting{
   
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
  
}

.group{
    margin-top: .3rem;
}

.group-large{
    display: flex;
    justify-content: space-around;
    width: 10rem;
}


.gui__btn {
   
    padding: .9rem;
    border: .3rem solid var(--color-border);
    cursor: pointer;
    box-shadow: .2rem .3rem #222;
    font-weight: bold;
}

.gui__btn:active{
    transform: translate(0,.3rem);
    box-shadow: none;
}


.gui__btn--start{
    background-color:var(--color-light-yellow);
    color: var(--color-border);
}


.gui__btn--strict{
    background-color:var(--color-light-red);
    color: var(--color-border);
}



@media only screen and (max-width: 708px) {
    .game {
        width: 35rem;
        height: 35rem
    }
}